body {
  background-color: #efefef;
<<<<<<< HEAD
  background-image: url('images/pattern_lg.png');
  background-image: url('images/pattern_sm.png');
=======
  background-image: url('images/pattern_lg.png') repeat;
  background-image: url('images/pattern_sm.png') repeat;
>>>>>>> 0cb256d... Add loaders and images
}

#content {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.card {
  border: 10px solid #fff;
  border-radius: 3px;
  padding: 50px;

  strong {
    text-align: center;
    text-transform: uppercase;
  }
}
